#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}

div.ss-auth {
  font-size: 14px;
  color: #666;
  position: absolute;
  width: 330px;
  height: auto;
  left: 45%;
  top: 60px;
  background: #FFF;
}

div.ss-auth .btn {
  padding: 10px 20px;
  background: #F4F4F2;
}

div.ss-auth .btn_red {
  background: #ED6347;
  color: #FFF;
}

div.ss-auth .btn:hover {
  background: #E4E4E2;
}

div.ss-auth .btn_red:hover {
  background: #C12B05;
}

div.ss-auth a.btn {
  color: #666;
  text-align: center;
  text-decoration: none;
}

div.ss-auth a.btn_red {
  color: #FFF;
}

div.ss-auth .one_half {
  width: 50%;
  display: block;
  float: left;
}

div.ss-auth .one_half.last {
  width: 45%;
  margin-left: 5%;
}

div.ss-auth .popupHeader {
  font-size: 16px;
}

div.ss-auth .popupHeader {
  background: #F4F4F2;
  position: relative;
  padding: 10px 20px;
  border-bottom: 1px solid #DDD;
  font-weight: bold;
}

div.ss-auth .popupHeader .modal_close {
  background: url(images/times.png) no-repeat left center;
  position: absolute;
  right: 0;
  top: 10px;
  padding: 10px 15px;
  cursor: pointer;
  color: #aaa;
  font-size: 16px;
}

div.ss-auth .popupBody {
  padding: 20px;
}

div.ss-auth .social_login .social_box {
  display: block;
  clear: both;
  padding: 10px;
  margin-bottom: 10px;
  background: #F4F4F2;
  overflow: hidden;
}

div.ss-auth .social_login .icon {
  display: block;
  width: 10px;
  padding-right: 10px;
  padding-left: 5px;
  margin-right: 5px;
  margin-left: 5px;
  height: 30px;
  float: left;
  color: #FFF;
  font-size: 16px;
  text-align: center;
}

div.ss-auth .social_login .weibo {
  background: url(images/login_weibo.png) no-repeat left center;
}

div.ss-auth .social_login .weixin {
  background: url(images/login_weixin.png) no-repeat left center;
}

div.ss-auth .social_login .qq {
  background: url(images/login_qq.png) no-repeat left center;
}

div.ss-auth .social_login .icon_title {
  display: block;
  padding: 5px 0;
  float: left;
  font-weight: bold;
  font-size: 16px;
  color: #777;
}

div.ss-auth .social_login .social_box:hover {
  background: #E4E4E2;
}

div.ss-auth .centeredText {
  text-align: center;
  margin: 20px 0;
  clear: both;
  overflow: hidden;
}

div.ss-auth .successText {
  text-align: center;
  font-size: 1.17em;
  color: #4CAF50;
  margin: 15px 0 25px;
  clear: both;
  overflow: hidden;
}

div.ss-auth .errorText {
  text-align: center;
  font-size: 1.17em;
  color: #ED6347;
  margin: 0 0 15px;
  clear: both;
  overflow: hidden;
}

div.ss-auth .action_btns {
  clear: both;
  overflow: hidden;
}

div.ss-auth .action_btns a {
  display: block;
}

div.ss-auth .forgot_password {
  display: block;
  margin: 20px 0 10px;
  clear: both;
  overflow: hidden;
  text-decoration: none;
  color: #ED6347;
}

div.ss-auth .user_form label {
  display: block;
  margin-bottom: 5px;
}

div.ss-auth .user_form input[type="text"],
div.ss-auth .user_form input[type="email"],
div.ss-auth .user_form input[type="password"] {
  display: block;
  width: 90%;
  padding: 10px;
  border: 1px solid #DDD;
  color: #666;
}

div.ss-auth .user_form input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}

div.ss-auth .user_form input[type="checkbox"]+label {
  float: left;
}

div.ss-auth .user_form .checkbox {
  margin-bottom: 10px;
  clear: both;
  overflow: hidden;
}

div.ss-auth .user_form input.is-danger, textarea.is-danger {
  border-color: #ff3860;
}